<!DOCTYPE html>
<html>
<head>
    <title>Course Registration</title>
    <%include partials/head%>
</head>
<body>
<% include partials/menu %>
<h1>Course Registration</h1>
<p style="color:red"> <%= error%></p>
<table class="table">
    <thead>
    <br>
    <h4>Registered courses for this round:</h4>
    <tr>
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
        <th scope="col">Credits</th>
        <th scope="col">Delete</ th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].cid%></td>
            <td><%= data[i].name%></td>
            <td><%= data[i].credits%></td>
            <td><form action="delete_register?&cid=<%= data[i].cid%>" method="post">
            <input type="submit" name="delete_register" value="X" /></form></td>
        </tr>
    <% } %>
    </tbody>
</table>
<form style="margin:10px; display:inline" action="/course_registration_insert" method="get">
<input class="btn btn-primary btn-space" type="submit" name="course_registration_insert" value="Add Course" /></form>
</body>
</html>
